/**
 *
 * @author Nimit Kalra <nimit@nimitkalra.com>
 *
 */

/*=== FONTS ===*/

@font-face {
    font-family: 'GothamRoundedLight';
    src: url('/fonts/gothamrnd-light-webfont.eot');
    src: url('/fonts/gothamrnd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamrnd-light-webfont.woff') format('woff'),
         url('/fonts/gothamrnd-light-webfont.ttf') format('truetype'),
         url('/fonts/gothamrnd-light-webfont.svg#gotham_roundedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*=== HEADER ===*/
html, body {
  height: 100%;
}

.header {
    background: linear-gradient(rgba(202, 44, 44, 1), rgba(220, 65, 65, 0.5) ), url('/images/header2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-icon {
    text-align: left;
    background: url('/images/logo-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 37.5px;
    height: 37.5px;
}

.title {
    text-align: center;
    font-family: NanumGothicExtraBold;
    font-size: 75px;
    color: #fff;
    padding-top: 125px;
}

.title-year {
    font-family: NanumGothic !important;
    font-size: 67.5px !important;
}

.subtitle {
    text-align: center;
    font-family: NanumGothic !important;
    font-size: 37.5px !important;
    color: rgba(255, 255, 255, 0.85);
}

.br {
    height: 10px;
}

.center {
    text-align: center !important;
}

.section-title {
    text-align: center;
    font-family: NanumGothicExtraBold;
    font-size: 42px;
    padding-top: 50px;
    
    text-transform: uppercase;
}

.section {
    height: 100%;
}

.faq {
    height: 100%;
    background: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    
    color: rgb(202, 44, 44);
}

.faq-question {
    font-family: NanumGothic !important;
    font-size: 28px;
    
    /*padding-bottom: 5px;*/
}

.faq-answer {
    font-family: NanumGothic !important;
    font-style: normal;
    font-size: 16px;
    
    /*padding-top: 5px;*/
}

.faq-qa {
    padding-bottom: 15px;
    padding-top: 15px;
}

.schedule {
    height: 100%;
    background: rgb(211, 54, 55);
    background-size: cover;
    background-repeat: no-repeat;
    
    color: rgb(255, 255, 255) !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}